body{ 
background-color: #e5e5e5;

}
header { 
background-color: #ffffff;
width:1600px;
font-family: 'Roboto', sans-serif;
 
}
/* цвет текста основной #212121; */
/* цвет текста вторичный #757575; */
/* белый #ffffff; */
/* акцент #2196F3 */
/* фон(без акцента) #F5F4FA */

/* img overlay */
.web {
font-family: 'Raleway', sans-serif;
color: #2196F3;
width: 153px;
height: 31px;
left: 215px;
top: 24px;

}
.studio {
color: #000000;
width: 153px;
height: 31px;
left: 215px;
top: 24px;

} 
.baner { 
background: #474858; 
height:600px; 
width:1600px; 
font-family: 'Roboto', sans-serif; 
}
.baner-text {
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
}
.line {
position: absolute;
width: 1170px;
height: 0px;
left: 215px;
top: 1119px;

border: 1px solid #ECECEC;
}
.site-nav {
    width:1600px

}
ul{
    list-style: none;
}
.ghost{
    display: none
}